@model Uni_hospital.ViewModels.PatientReportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <h4>PatientReportViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h4>Prescribed Medications</h4>
    <hr />

    @if (ViewBag.presmeds != null && ViewBag.presmeds.Count > 0)
    {
            <table class="table">
                <thead>
                    <tr>
                        <th>Medication Name</th>
                        <th>Dosage</th>
                        <th>Frequency</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var medication in ViewBag.presmeds)
                {
                            <tr>
                                        <td>@medication.MedicineId</td>
                                                <td>@medication.Medicine.Name</td>
                                        <td>@medication.MedicineIntakeZone</td>
                                                        <td>@medication.DurationDays</td>
                            </tr>

                                        
            
                }
                </tbody>
            </table>
    }
    else
    {
            <p>No prescribed medications found.</p>
    }

    <h4>Add Prescribed Medication</h4>
     <hr />

    <form method="post" asp-action="AddMeds">
         <div class="form-group" hidden>
            <input type="text" class="form-control" id="PatientReportId" name="PatientReportId" value=@Model.Id>
        </div>
        <select id="medicineName" name="medicineName" class="form-control">
        <option value="">Select a Medicine</option>
            @foreach (var item in ViewBag.doctorList)
            {
                <option value="@item.Value">@item.Text</option>
            }
    </select>
        <div class="form-group">
            <label for="Name">Duration Days</label>
            <input type="number" class="form-control" id="DurationDays" name="DurationDays" required>
        </div>
        <select id="medicineIntakeZone" name="medicineIntakeZone" class="form-control">
        <option value="">Select Medicine Intake Zone:</option>
            @foreach (var item in ViewBag.enumValues)
            {
                    <option value="@item.Value">@item.Text</option>
            }
    </select>
        <button type="submit" class="btn btn-primary">Add Medication</button>
    </form>
</div>
