@using Uni_hospital.Utilities;
@model PagedResult<Uni_hospital.ViewModels.PatientReportViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Reports</h1>

@if (Model.Data.Count > 0)
{
        <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Diagnose
                </th>
                <th>
                    Doctor Name
                </th>
                <th>
                    Patient Name
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Updated Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.FirstName) @Html.DisplayFor(modelItem => item.Doctor.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Data.Count <= 0) {
        <p>No Reports found</p>
}

<p>Edit -> add medicine #################This is not complete####################</p>
<p>Create prescribed medicine by report id</p>
<p>show them in table</p>

<p>Details ############</p>
<p>Show report details</p>
<p>Prescribed medine table</p>

<p>In area patinets ####################</p>
<p>From Profile</p>
<p>List of reports by patient Id</p>

<p>Details tab ######################</p>
<p>Prescribed medine table</p>

