@model Uni_hospital.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "CreateAppointment";
}

<h1>CreateAppointment</h1>

<h4>AppointmentViewModel</h4>
<hr />
<div class="row">
        <div class="col-md-4">
            <form asp-action="CreateAppointment" method="post">
        <!-- Editable Fields -->
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>

        <!-- Non-Editable Fields -->
        <div class="form-group" hidden>
            <input type="text" asp-for="DoctorId" class="form-control" value="@ViewBag.viewModel.DoctorId" contenteditable="false"/>
        </div>
        <div class="form-group" hidden>
            <input type="text" asp-for="AvailablityId" class="form-control" value="@ViewBag.AvailibilityId" contenteditable="false"/>
        </div>
        <div class="form-group">
            <label>Doctor Name</label>
            <input type="text" class="form-control" value="@ViewBag.viewModel.Doctor.FirstName @ViewBag.viewModel.Doctor.LastName" contenteditable="true" disabled />
        </div>
        <div class="form-group">
            <label>Current Recuring Appointment Number</label>
            <input type="text" class="form-control" value="@ViewBag.appointmentCount" contenteditable="true" disabled />
        </div>
        <div class="form-group" hidden>
            <input type="text" asp-for="PatientId" class="form-control" value="@ViewBag.loggedUserData.Id" contenteditable="false" />
        </div>

        <div class="form-group">
            <label>Patient Name</label>
            <input type="text" class="form-control" value="@ViewBag.loggedUserData.FirstName @ViewBag.loggedUserData.LastName" contenteditable="true" disabled />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

